.headerPrincipal .container {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.headerPrincipal-nav {
	display: flex;
}

.rodapePrincipal-patrocinadores .container {
	display: flex;
	justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	margin-right: 5%;
}
.rodapePrincipal-contatoForm {
	width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
	display: flex;
}

.contenidoPrincipal-cursos {
	display: flex;
	flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link {
	display: flex;
	width: 23%;
}
.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    height: 260px;
    flex-wrap: wrap;
}
.videoSobre .container {
    display: flex;
}
.videoSobre-sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 3;
}
.videoSobre-sobre-list {

   flex-grow: 1;
}
/*responsive*/

@media(max-width:760px) {

    .headerPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav {
        flex-direction: column;
    }

    .contenidoPrincipal-cursos {
        flex-direction: column;
    }

    .contenidoPrincipal-cursos-link {
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
        flex-wrap: nowrap;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

    .rodapePrincipal-patrocinadores-list {
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .videoSobre .container {
        flex-direction: column;
    }
    .headerPrincipal-nav-link-app {
        order: -1;
    }
}